VOLUNTEERS_FILE_URL = 'write here the URL to your csv volunteers file'
ADMINISTRATION_PASSWORD = 'write here the password used to access referents area'
EMAIL = 'Write here your email for cookie policy'
WEBSITE = 'Write here your website for cookie policy'
ROCKET_SECRET_KEY = 'write here the rocket secret key to enable private cookies'
